<div class="map-wrapper">
  <div class="search input-prepend">
    <span class="add-on"><i class="icon-search"></i></span>
    <input type="text" placeholder="Pesquisar">
  </div>

  <div class="overallMap">
    <%= gmaps(:markers => {:data => @json, :options => {:list_container => "markers-list" }}, :map_options => {:raw => "{scrollwheel: false}", :detect_location => true}) %>
  </div>
  <div id="map-scroll-down" onclick="location.href='#';"><i class="icon-chevron-down"></i></div>
</div>

<div id="features-section">
  <div class="container lead">
    <p><i class="icon-laptop"></i> <%= t('.rules.wifi') %></p>
    <p><i class="icon-bolt"></i> <%= t('.rules.power') %></p>
    <p><i class="icon-thumbs-up"></i> <%= t('.rules.staff') %></p>
    <div class="fb-like"><iframe src="http://www.facebook.com/plugins/like.php?href=http://cafewifi.madeincoimbra.org&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe></div>
  </div>
</div>

<div class="list">
  <div class="container">
    <ul id="markers-list" class="unstyled"></ul>
  </div>
</div>

<div id="ethics-section">
  <div class="container row-fluid">
    <div class="span4"><i class="icon-coffee"></i><br> <%= t('.ethics.consume') %></div>
    <div class="span4"><i class="icon-time"></i><br> <%= t('.ethics.hours') %></div>
    <div class="span4"><i class="icon-refresh"></i><br> <%= t('.ethics.usage') %></div>
  </div>
</div>

<div id="sticker-section">
  <div class="container row-fluid">
    <div class="span2">
      <img src="<%= asset_path('cafewifi-sticker.png') %>" alt="<%= t('.sticker.img_alt') %>" />
    </div>
    <div class="span9 offset1 lead">
      <p><%= t('.sticker.purpose') %></p>
      <p><%= t('.sticker.call_to_action') %></p>
      <p class="proprietario"><a href="mailto:<%= ENV['CONTACT_EMAIL'] %>"><%= t('.sticker.owners') %></a></a></p>
    </div>
  </div>
</div>