<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= t('.meta_description') %>">
    <meta name="keywords" content="<%= t('.meta_keywords') %>">

    <!-- Facebook stuff -->
    <meta property="og:image" content="<%= image_url('praca_republica.png') %>" />
    <meta property="fb:admins" content="<%= ENV["FB_ADMINS"] %>" />
    <meta property="og:type" content="website" />

    <title><%= t('.project_name') %></title>
    <link rel="shortcut icon" type="image/png" href="<%= image_path('favicon.png') %>">
    <link href="/assets/touch-icon-iphone-114.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/assets/touch-icon-iphone-114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/assets/touch-icon-ipad-144.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/assets/touch-icon-ipad-144.png" rel="apple-touch-icon" sizes="144x144">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="<%= t('.mobile_webapp_title') %>">
    <meta property="og:title" content="<%= t('.project_name') %>" />

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <% if Rails.env == 'production' %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= ENV["GOOGLE_ANALYTICS_ID"] %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>

    <header>
      <div id="menu-bar">
        <div class="container">
          <div id="logo" onclick="location.href='.';" style="cursor:pointer;"></div>
          <div class="menu">
            <ul class="inline unstyled">
              <li><a href="/" class="selected"><%= t('.project_name') %></a></li>
              <li><a href="mailto:<%= ENV['CONTACT_EMAIL'] %>"><%= t('.submit') %></a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>

    <%= yield %>

    <footer>
      <div class="container">
        <p><a href="http://improvecoimbra.org" target="_blank">Improve Coimbra</a>, <%= Time.now.year %></p>
      </div>
    </footer>

    <%= yield :scripts %>

    <script type="text/javascript">
      $('#markers-list').click(function(){
        $("html, body").animate({ scrollTop: 0 }, 800);
        return false;
      });

      $('#map-scroll-down').click(function(){
        $("html, body").animate({ scrollTop: 461 }, 800);
        return false;
      });
    </script>
  </body>
</html>
